# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [2]:
import jovian

In [3]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Please enter your API key ( from https://jovian.ml/ ):
API KEY: ········
API KEY: ········
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

In [4]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Collecting pandas
  Downloading pandas-1.1.2-cp37-cp37m-manylinux1_x86_64.whl (10.5 MB)
     |████████████████████████████████| 10.5 MB 4.6 MB/s eta 0:00:01
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 28.8 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.15.4
  Downloading numpy-1.19.2-cp37-cp37m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 28.6 MB/s eta 0:00:01    |█████████████████▍              | 7.9 MB 28.6 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.2 pandas-1.1.2 pytz-2020.1

In [5]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [6]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f446dd2e590>)

Let's load the data from the CSV file into a Pandas data frame.

In [7]:
countries_df = pd.read_csv('countries.csv')

In [8]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [9]:
num_countries = countries_df.shape[0]

In [10]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [11]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [12]:
continents = countries_df['continent'].unique()

In [13]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [14]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: What is the total population of all the countries listed in this dataset?**

In [15]:
total_population = countries_df['population'].sum()

In [16]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [17]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [18]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [19]:
most_populous_df = countries_df['population'].sort_values(ascending=False).head(10)

In [22]:
most_populous_df

41     1.439324e+09
90     1.380004e+09
199    3.310026e+08
91     2.735236e+08
145    2.208923e+08
27     2.125594e+08
141    2.061396e+08
15     1.646894e+08
157    1.459345e+08
125    1.289328e+08
Name: population, dtype: float64

In [23]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [28]:
countries_df['gdp'] = countries_df['gdp_per_capita'] * countries_df['population']

In [29]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [ ]:
jovian.commit(project='python-assignment3', environment=None)

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [ ]:
jovian.commit(project='python-assignment3', environment=None)

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [30]:
country_counts_df = countries_df.groupby('continent')[['location']].count()

In [31]:
country_counts_df

               location
continent
Africa               55
Asia                 47
Europe               51
North America        36
Oceania               8
South America        13

In [32]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [33]:
continent_populations_df = countries_df.groupby('continent')[['population']].sum()

In [34]:
continent_populations_df

                 population
continent
Africa         1.339424e+09
Asia           4.607388e+09
Europe         7.485062e+08
North America  5.912425e+08
Oceania        4.095832e+07
South America  4.304611e+08

In [35]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [36]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7f446da80290>)

In [37]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [46]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [38]:
total_tests_missing = covid_data_df['total_tests'].isna().count()

In [39]:
total_tests_missing

212

In [40]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 212 countries.

In [77]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [41]:
combined_df = countries_df.merge(covid_data_df, on='location')

In [42]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0

In [ ]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [43]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [44]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [45]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [46]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN,NaN,982.394806,36.194710
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN,NaN,3380.359997,102.856349
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN,NaN,1029.804468,34.776824
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,10.745996,0.359570
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN,NaN,1282.373228,1.674116
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN,NaN,66.250993,19.144391
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN,NaN,675.317108,15.883415
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0,6544.605918,446.614587,13.859989

In [47]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [51]:
highest_tests_df = combined_df['tests_per_million'].sort_values(ascending=False).head(10)

In [52]:
highest_tests_df

197    725696.635121
14     657527.137965
115    616349.508607
122    427004.183096
53     422621.755488
96     271962.665303
89     260304.761905
157    254750.159763
199    253467.507769
10     245326.517406
Name: tests_per_million, dtype: float64

In [53]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [54]:
highest_cases_df = combined_df['cases_per_million'].sort_values(ascending=False).head(10)

In [55]:
highest_cases_df

155    41375.743650
14     30818.361490
147    21805.112117
40     21695.671982
162    21657.139490
9      20708.839893
105    20249.789079
150    20121.318048
27     18808.224105
199    18472.377957
Name: cases_per_million, dtype: float64

In [56]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [57]:
highest_deaths_df = combined_df['deaths_per_million'].sort_values(ascending=False).head(10)

In [58]:
highest_deaths_df

162    1237.550828
150     887.393445
18      854.040375
3       685.950948
177     624.406705
198     611.525168
40      593.423100
97      587.097697
27      582.331314
182     576.279276
Name: deaths_per_million, dtype: float64

In [59]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "nanamo1/python-assignment3" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/nanamo1/python-assignment3

'https://jovian.ml/nanamo1/python-assignment3'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [ ]:
deeply_troubled_countries = None

In [ ]:
jovian.commit(project='python-assignment3', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [76]:
bound_df = combined_df[combined_df.population < 1e7]

In [79]:
lowest_GDP = bound_df['gdp_per_capita'].sort_values().head(10)

In [74]:
import jovian

In [ ]:
jovian.commit(project='python-assignment3', environment=None)

[jovian] Attempting to save notebook..

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2